---
import Layout from '~/layouts/PageLayout.astro';
import { getPermalink, } from '../utils/permalinks';
import Hero from '~/components/widgets/Hero.astro';
import Features from '~/components/widgets/Features.astro';
import Steps from '~/components/widgets/Steps.astro';

const metadata = {
  title: 'CoShop — A Community-Led Food Platform',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Contact',
        href: getPermalink('/contact'),
        target: '_blank',
        icon: 'tabler:mail',
      },
    ]}
    image={{ src: '~/assets/images/coshop_diagram.png', alt: 'Diagram showing the normal supply chain crossed out and new flows of food from Growers to Food Hubs and on to Customers' }}
  >
    <Fragment slot="title">
      CoShop -<span class="hidden xl:inline"></span>
      <span class="text-accent dark:text-white highlight"> A Community-led Food System</span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Empowering communities to create sustainable, resilient and affordable food systems.</span> </span
      >
      <span class="block mb-1 sm:hidden font-bold text-blue-600">CoShop: Better Food Together.</span>
    </Fragment>
  </Hero>

  <!-- Features Widget *************** -->

  <Features
    id="benefits"
    title="BENEFITS"
    subtitle=""
    items={[
      {
        title: 'Affordable',
        description:
          'Purchasing in bulk from growers leads to up 50% off retail pricing.',
        icon: 'tabler:coin',
      },
      {
        title: 'Low Emissions',
        description:
          'Buying directly from growers reduces GHG emissions created from food waste, transport, refrigeration and packaging.',
        icon: 'tabler:cloud-heart',
      },
      {
        title: 'Resilient',
        description:
          'Reconnecting communities to local growers builds resilient supply chains that are less affected by disruptions.',
        icon: 'tabler:link-plus',
      },
      {
        title: 'Nutritional',
        description:
          'Better access to fresh fruit and vegetables leads to better community-wide health outcomes.',
        icon: 'tabler:carrot',
      },
      {
        title: 'Efficient',
        description:
          "Removing intermediaries between producers and consumers allows for much better matching of supply and demand, leading to higher productivity and lower waste.",
        icon: 'tabler:circles-relation',
      },
      {
        title: 'Accessible',
        description:
          'Food Hubs can increase accessibility to fresh food, particularly for remote and rural towns far from any supermarket.',
        icon: 'tabler:map-2',
      },
    ]}
  />

  <Steps
    title="How it works"
    items={[
      {
        title: 'Customer Joins',
        description:
          "Customers sign up to CoShop and join a local food hub.",
        icon: 'tabler:user-plus',
      },
      {
        title: 'Order Online',
        description:
          "Customers create orders and pay online.",
        icon: 'tabler:credit-card-pay',
      },
      {
        title: 'Order Aggregation',
        description:
          "CoShop aggregates individual orders into a bulk order sent to growers.",
        icon: 'tabler:stack-3',
      },
      {
        title: 'Bulk Order Fulfilment',
        description:
          'Growers pack the bulk order and delivery is arranged by the local food hub or the grower themselves.',
        icon: 'tabler:truck-delivery',
      },
      {
        title: 'Food Hub',
        description:
          'Food Hub operators recieve the bulk order and repackage into individual orders.',
        icon: 'tabler:building-community',
      },
      {
        title: 'Pickup',
        description:
          'Customers pickup their order from the Food Hub.',
        icon: 'tabler:shopping-bag-check',
      },
    ]}
    image={{
      src: '~/assets/images/IMG_1138.jpeg',
      alt: 'Stacks of crates filled with fresh produce.',
    }}
  />

</Layout>
